@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

image {
  max-width: 100%;
  display: inline-block;
}

.btn {
  padding: 0.9rem 1.3rem;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
h2 {
  font-weight: 700;
}
